body {
  width: 250px;
  background-color: #fffbff;
  margin: 5px;
  margin-top: 10px;
}

.heading {
  text-align: center;
  font-size: xx-large;
  font-family: 'Yeseva One', serif;
  
  padding: none;
  margin: 5px;
  border: 2px;
  border-style: solid;
  border-radius: 20px;
  border-color: #9c4146;
}

a {
  text-decoration: none;
  color: #40000a;
}

video {
  display: none;
}

.button {
  color: #000;
  text-align: center;
  border: 1px solid;
  border-color: #9c4146;
  padding: 3px 6px;
  margin: 2.5px;
  display: inline-block;
  background-color: #f4dddd;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  position: center;
}

.button:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

input[type="text"] {
  border-color: #003459;
  border: 1px solid;
  width: 70%;
  background-color: #abe4ed;
  box-sizing: content-box;
  font-family: 'Josefin Sans', sans-serif;
  padding: 5px;
}

.items,
.items li {
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 5px;
  list-style: none;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}
.items li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #f4dddd;
  border: 1px solid #9c4146;
  border-radius: 10px;
}

.items li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.items li.done .item {
  text-decoration: line-through;
}

.items div span {
  margin: 2.5px;
  cursor: pointer;
}
.new-item {
  display: none;
}
